#app{margin: 50px auto;width: 600px;}
fieldset{border: 1px solid purple;margin-bottom: 20px;}
fieldset input{width: 200px;height: 30px;margin: 10px 0;}
table{width: 600px;border: 2px solid purple;text-align: center;}
thead{background-color: purple;color: #fff;}
