
.body {
  margin: 0% auto;
  padding: 0;
  text-align: center;
}

.body div {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

div,
form,
ul,
ol,
li,
span,
p,
dl,
dt,
dd,
img {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none
}

/*清除列表默认样式*/
/*设置浮动*/
.fl {
  float: left
}

/* 计算机组成原理 */
.Com {
  background-color: #62e48a
}

.Content {
  width: 840px;
  height: 1115px;
  background-size: 100% 100%;
  margin: 0 auto;
}

/*设置标题CSS规则*/
.Title {
  padding-top: 35px;
  margin: 0 auto;
}

.Title p {
  font-size: 40px;
  font-family: 微软雅黑;
  color: #fff;
}

/*设置星期CSS规则*/

.Week {
  width: 890px;
  height: 60px;
  background-color: #fff;
  filter: alpha(opacity=60);
  opacity: 0.6;
}

.Week ul {
  padding-left: 60px;
}

.Week ul li {
  font-family: 微软雅黑;
  font-size: 26px;
  color: #333;
  text-align: center;
  width: 110px;
  line-height: 56px;
}

/*设置节次CSS规则*/
.Source {
  width: 890px;
  height: 950px;
}

.Num {
  width: 60px;
  height: 980px;
  margin-top: 1px;
  background-color: #fff;
  filter: alpha(opacity=60);
  opacity: 0.6;
}

.Num ul li {
  font-family: 微软雅黑;
  font-size: 26px;
  color: #333;
  width: 60px;
  height: 81px;
  line-height: 81px;
  text-align: center;
}

/*设置课程CSS规则*/


.Sun ul li {
  width: 98px;
  height: 149px;
}

.Mon,
Tue,
Wed,
Thu,
Fri,
Sat,
Sun ul {
  margin-top: 1px;
}

.KeCheng3 li,
.KeCheng li {
  width: 98px;
  border-radius: 10px;
  border: 5px solid #fff;
  margin-bottom: 3px;
  margin-left: 2px;
  box-shadow: inset 0 1px 8px #666;
}

.KeCheng li {
  height: 149px;
}

.KeCheng3 li {
  height: 230px;
}

.KeCheng li p,
.KeCheng3 Li p {
  font-family: 微软雅黑;
  color: #fff;
  font-size: 15px;
  width: 100%;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
